/node_modules
/public/hot
/public/storage
/public/uploads
/resources/lang
/public/currency.json
/public/sitemap.xml
/public/ids.txt
/app/Providers/AppServiceProvider.php
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
